{% extends 'base.html' %}
{% block head_block %}
  <link href="/static/base.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block body_block %}
  <h1>{% if not form.instance.pk %}
    Crear Agenda
  {% else %}
    Actualizar Agenda
  {% endif %}</h1>
  <form method="POST">
    <div class="form-outline mb-4">
    {% csrf_token %}
    {{ form.as_p }}
    </div>
    <input type="submit" value="Enviar" class="btn btn-success" id="crear">
    <input type="reset" value="Limpiar" class="btn btn-secondary">
    {% if not form.instance.pk %}
      <a href="{% url 'basic_app:lista_agenda' %}" class="btn btn-primary">Volver</a>
    {% else %}
      <a href="{% url 'basic_app:detalle_agenda' pk=agenda.id %}" class="btn btn-primary">Volver</a>
    {% endif %}
  </form>
{% endblock %}